.TabooCard{
    perspective: 1000px;
    background-color: transparent;
}
.TabooCardInner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}
.TabooCard[flipping="true"] .TabooCardInner{
    transform: rotateY(180deg); 
}
.TabooCard[flipping="true"][passed="true"] .TabooCardInner{
    transform: rotateY(-180deg); 
}
.TabooCard[passed="true"] .TabooCardBack{
    background-image: linear-gradient(to right, rgb(233, 145, 145), rgb(232, 179, 179));
}
.TabooCardFront, .TabooCardBack {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
.TabooCardFront{
    display: flex;
    width: 15rem;
    height: 18rem;
    font-size: 1.8rem;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    padding: 1rem;
    background-image: linear-gradient(to right, rgb(244, 214, 159), rgb(242, 223, 186));
    color: #1a1a1a;
    backface-visibility: hidden;
    box-shadow: .3rem .3rem .3rem #1a1a1a8c;
}
.TabooCardBack{
    position: relative;
    border-radius: 2rem;
    padding: 1rem;
    bottom: 0rem;
    width: 15rem;
    height: 18rem;
    background-image: linear-gradient(to right,rgb(145, 238, 145), rgb(182, 238, 182));
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    color:#1a1a1a;
    box-shadow: .3rem .3rem .3rem #1a1a1a8c;
}
.rotate{
    transform: rotate(60deg);
    position: relative;
    top: 6rem;
    font-size: 5rem;
    font-weight: 1000;
    height: 6rem;
}
.Word{
    margin-top: 0;
    margin-bottom:.5rem;
    font-weight: 900;
    font-size: 1.8rem;
    width: 15rem;
    border-bottom: .4rem solid green;
    border-radius: .3rem;
}
.Word, .Taboos{
    text-transform: uppercase;
    text-align: center;
}
.Taboo{
    margin:0.1rem;
    color: rgb(149, 49, 49);
    font-size: 1.4rem;
    font-weight: 200;
}
.Point{
    position: relative;
    left: 6.5rem;
    font-size: 1.7rem;
    font-weight: 900;
    transform: rotate(-12deg);
    border-radius: 2rem;
    padding-top: .15rem;
    padding-bottom: .15rem;
    padding-left: .3rem;
    padding-right: .3rem;
    background-color: rgba(241, 236, 148, 0.817);
    backface-visibility: hidden;
}
.Point::before{
    content: "+";
}
