.Game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.UI{
    margin-top: 2rem;
    width: 17rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:1rem;
}

.Pass, .Next {
    width:8rem;
    height: 3.5rem;
    border-radius: 1rem;
    font-size: 150%;
    padding: .5rem;
    text-align: center;
    color: #1a1a1a;
    font-weight: 1000;
}
.Pass{
    background-color: rgb(232, 179, 179);
}
.Next{
    background-color: rgb(182, 238, 182);
}
.StartMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TeamPoints{
    font-size: 170%;
    margin: auto;
    text-align: center;
}